h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
p,
li {
  font-family: "Dongle", sans-serif;
  font-size: 20px;
}
body {
  background-image: url("../Image/Background.jpg");
  background-size: cover;
}

.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  padding: 80px;
  background: transparent;
  border-radius: 15px;
}

label {
  color: black;
  font-size: 20px;
}

#UserName,
#Password {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

.submit-btn,
.r-btn {
  width: 78%;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: yellow;
  background-color: black;
}

.container1,
.split1 {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  text-align: center;
}
.split2 {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  padding: 0%;
  text-align: center;
}
.bg-blue {
  background: #15386394;
}
.animation-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  top: -50px;
  position: relative;
  font-style: italic;
}
.navdesign {
  overflow: hidden;
  background-color: #333;
}

.navdesign a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

.navdesign a:hover {
  background-color: #ddd;
  color: black;
}

.navdesign a.active {
  background-color: #04aa6d;
  color: white;
}
.card,
.card-group > .card + .card,
.card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
  margin: 10px;
  border-radius: 10px !important;
  box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}
.card-group {
  display: flex;
}
.card-body ul {
  padding-left: 10%;
}
.c-btn {
  display: flex;
  justify-content: center;
}
.c-btn a {
  width: 100%;
}
.c-info {
  height: 290px;
}
.c-con {
  display: flex;
  justify-content: center;
  width: 100%;
}
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
}

#loading lottie-player {
  z-index: 100;
}
#purchase {
  overflow: hidden;
  margin: auto;
  padding: 20px;
  background: transparent;
  border-radius: 15px;
}
.m-con {
  display: flex;
  padding: 0 20%;
  padding-top: 60px;
}
.input-field1 {
  width: 100%;
}
.card.c1 {
  height: 100%;
  width: 100%;
}

#Buy-Me {
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 10px;
  color: yellow;
  background-color: black;
}
.container2 {
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 100px;
}
.r-con {
  width: 382px;
  overflow: hidden;
  margin: auto;
  padding: 0%;
  background: transparent;
}
.button1 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
}

.button1:hover {
  background-color: #3e8e41;
}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#p1,
#p2,
#demo,
#ch1 {
  display: flex;
  justify-content: center;
}
.picrow {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.piccolumn {
  padding: 5%;
  justify-content: center;
}
.pic-con {
  background: white;
  padding: 5%;
}
.profile-con {
  padding: 5%;
}
.profile-h2 {
  padding: 2%;
}
@media (max-width: 576px) {
  .login,
  .UserName,
  .Password,
  #purchase {
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
  }
  .pic-con,
  .piccolumn,
  .picrow {
    flex-direction: column;
    display: flex;
  }
  .m-con {
    flex-direction: column;
    padding: 5%;
  }
  .login {
    padding-left: 15%;
  }
}
